:root {
  --single-space: 24px;
  --double-space: 36px;
  --dark-shaddow: 0px 0px 2px 0px rgba(25,27,31,0.67);
  --light-shaddow: 0px 0px 2px 0px rgba(208, 208, 208, 0.67);
  --glow-shaddow: 0px 0px 2px 0px rgba(82, 53, 1, 0.67);
  --standard-margins: 96px 96px 96px 144px;
  --large-margins: 96px 144px 96px 144px;
  --mobile-margins: 96px 24px 96px 24px;
}

.script {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.script-cover {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 816px;
  width: 100%;
  height: 1056px;
  -webkit-box-shadow: var(--light-shaddow);
  -moz-box-shadow: var(--light-shaddow);
  box-shadow: var(--light-shaddow);
  padding: var(--standard-margins);
  margin-bottom: 36px;
  overflow: none;
}

.script-cover--title {
  font-weight: bold;
  margin-top: 25%;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.script-cover--additional {
  margin-bottom: var(--single-space);
}

.script-cover--byline {
  margin-bottom: var(--single-space);
}

.script-cover--author {
  margin-bottom: var(--single-space);
}

.script-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 816px;
  width: 100%;
  padding: var(--standard-margins);
  margin-bottom: 36px;
  overflow: none;
}

/* .script-dialog */

.script-dialog--title {
  text-decoration: underline;
  margin-top: 84px;
  margin-bottom: var(--single-space);
}

.scene-heading {
  text-align: left;
  margin-top: var(--double-space);
  margin-bottom: var(--double-space);
}

.scene-heading--title {
  text-align: left;
  margin-top: var(--single-space);
}

.scene-heading--descirption {
  margin-top: var(--double-space);
  margin-bottom: var(--double-space);
}

.scene-body-character {
  text-align: left;
  margin-left: 260px;
  max-width: 316.8px;
}

.scene-body-parenthetical {
  text-align: left;
  margin-left: 283px;
  max-width: 192px;
}

.scene-body-parenthetical::before {
  content: "("
}
.scene-body-parenthetical::after {
  content: ")"
}

.scene-body-dialogue {
  text-align: left;
  margin-left: 134px;
  max-width: 316.8px;
  margin-bottom: var(--double-space);
}

.scene-body-action {
  text-align: left;
  margin-left: 120px;
  max-width: 576px;
  margin-bottom: var(--single-space);
}

.scene-body-transition {
  text-align: right;
  margin-left: auto;
  max-width: 144px;
}

