:root {
  --grey: 24px;
  --black: #282c34;
  --white: #e7e8ec;
  --glow: #b37b31;
  --night: #050300;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--glow);
  color: var(--black);
}
